@import 'node_modules/font-awesome/scss/font-awesome.scss';
@import 'node_modules/slick-carousel/slick/slick.scss';
@import 'node_modules/slick-carousel/slick/slick-theme.scss';
body {overflow-x: hidden;}
// animation reset
.animate__animated.animate__fadeIn {
  --animate-duration: .3s;
}

dl ol ul {
    list-style-position: outside;
    line-height: 1.6;
}

nav.bg-light {
    background-color: #FFF !important;
    -webkit-box-shadow: 0px 1px 6px 0px #e7e7e7;
    -moz-box-shadow: 0px 1px 6px 0px #e7e7e7;
    box-shadow: 0px 1px 6px 0px #e7e7e7;
    
    .site-brand {
        max-height: 60px;
        margin: 17px auto;
    }

    ul.navbar-nav.left {
        margin-left: 80px;
        .dropdown-toggle::after {
            display: none !important;
        }
        .dropdown-menu.product {
            padding: 0rem 0rem;
            min-width: 780px;
            border: 1px solid rgba(255, 255, 255, 0);
            border-radius: 5px;
            -webkit-box-shadow: 1px 1px 10px -1px rgba(204,204,204,1);
            -moz-box-shadow: 1px 1px 10px -1px rgba(204,204,204,1);
            box-shadow: 1px 1px 10px -1px rgba(204,204,204,1);
            ul{
                list-style-type: none;
                overflow: hidden;
                display: inline-block;
                padding: 0px;
                li {
                    float: left;
                    min-width: 150px;
                    padding: 20px 15px;
                    margin-right: 0px;
                    max-width: 259px;
                    border-right: 1px solid gainsboro;
                }
                li:hover {
                    background-color: rgb(240, 240, 240);
                }
                li:last-child {
                    border: none;
                }
                a {
                    display: block;
                    text-decoration: none;
                    color: rgb(209, 209, 209);
                }
                a:hover {
                    h4 {
                        color: #0072C4 !important;
                    }
                    color: #505050 !important;
                }
            }
            h4 {
                font-weight: bold;
                font-size: 16px;
                margin: 10px 15px;
            }
            p {
                margin: 10px 15px;
                a {
                    text-decoration: none;
                    text-decoration: underline;
                }
                .social-nav {
                    margin-left: 10px;
                    a {
                        color: #bebebe !important;
                        margin-left: 5px;
                    }
                }
            }
            .dropdown-divider {
                margin: 0rem 0rem;
            }
        }
        .dropdown-menu {
            padding:30px 15px;
            -webkit-box-shadow: 1px 1px 10px -1px rgba(204,204,204,1);
            -moz-box-shadow: 1px 1px 10px -1px rgba(204,204,204,1);
            box-shadow: 1px 1px 10px -1px rgba(204,204,204,1);
            border: none;
            a {
                font-weight: 100 !important;
            }
            a:hover {
                background: none;
            }
            .dropdown-item > img {
                max-height: 24px;
                margin-right: 15px;
            }
            .heading {
                font-weight: 600 !important;
                font-size: 1rem;
                margin-bottom: 10px;
            }
        }
        li {
            margin-right: 30px;
            a {
                font-size: 1rem;
                font-weight: 600;
                color: #505050 !important;
            }
            a:hover {
                color: #0072bc !important;
            }
        }
        li:hover >.dropdown-menu {
            display: block;
        }
    }

    ul.navbar-nav.right {
        li {
            margin-right: 30px;
        }
    }
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.main-slider > .slick-slider img {
    max-height: 700px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    object-fit: cover !important;
}

.jumbotron-text {
    position: absolute !important;
    z-index: 10 !important;
    top: 200px !important;
    left: 80px !important;
    color: #FFF;
}

.center-heading {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.feature-list ul li::before {
    color: #0072bc;
    font-weight: 400;
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\F058";
    display: inline-block;
    top: 2px;
    margin-right: 10px;
    position: absolute;
    left: 0;
}

.feature-list ul { 
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    font-size: 1.1rem;
}

.feature-list ul li {
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    padding-left: 0px;
    list-style-type: none;
    position: relative;
    padding-left: 27px;
    margin-bottom: 25px;
}

.main-img {
    max-width: 450px !important;
    margin-top: -55px;
}

.slider-container {
    height:500px;
    width: 80% !important;
    background-color: #FFF;
    text-decoration: none;
}

.testimonial-wrapper {
    background-color: #2D3742;
    padding: 50px;;
}

.video-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

.video-wrapper-bg { 
    z-index: 1042;
    overflow: hidden;
    background: #0b0b0b;
    opacity: .8;
}

.video-slider {
    z-index: 1043;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    overflow: hidden auto;
}

.video-iframe {
    padding-top: 40px;
    padding-bottom: 40px;
}

.video-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.video-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;

    .iframe-scale {
        width: 100%;
        height: 0;
        overflow-y: hidden;
        padding-top: 56.25%;

        iframe {
            position: absolute;
            display: block;
            -webkit-box-shadow: 0 0 8px rgba(0,0,0,.6);
            box-shadow: 0 0 8px rgba(0,0,0,.6);
            background: #000;
        }
    }
}
.closeplayer {
    position: relative;
    z-index: 9999999;
    top: 60px;
    left: 785px;
    text-decoration: none;
}

.btn-play-video {
    position: absolute;
    top: 40%;
    left: 60%;
    background-color: #FFF !important;
    color: #0072bc !important;
    border: none !important;
}

.btn-white {
    background-color: #FFF !important;
    color: #0072bc !important;
    border: none !important;
}

.slider-container .col-md-7.desc {
    padding-left: 100px;
    position: relative;
    z-index: 2;
    background-color: #FFF;
    img {
        max-width: 150px;
        position: relative;
        z-index: 3;
    }
    blockquote {
        line-height: 1.6;
        p {
            font-size: 1.3125rem;
            position: relative;
            z-index: 3;
        }
    }
    .permalink {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        text-indent: -9999px;
        z-index: 4;
    }
    .author.mt20 {
        margin-top: 50px;
        position: relative;
        z-index: 3;
    }
}

.slider-container .col-md-7.desc:after {
    position: absolute;
    right: -10%;
    top: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transform: skew(5deg);
    transform: skew(5deg);
    background: #fff;
    z-index: 2;
}

.col-md-5.pic {
    position: relative;
    z-index: 1;
}

.slick-next::before {
    font-family: FontAwesome !important;
    content: "\f054"
}

.slick-prev::before {
    font-family: FontAwesome !important;
    content: "\f053"
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    width: 100%;
    li button::before {
        display: none;
    }
    li {
        height: 0px;
    }
    li button {
        border: 0;
        background: transparent;
        display: block;
        height: 15px;
        width: 15px;
        outline: none;
        line-height: 0;
        font-size: 0;
        color: transparent;
        padding: 0;
        cursor: pointer;
        background: #262e3b;
        border: 1px solid #fff;
        border-radius: 50rem;
    }

    li.slick-active button {
        background: #fff;
    }

    li button:focus, .slick-dots li button:hover {
        outline: none;
        opacity: 1;
        background: #fff;
        opacity: .75;
    }
}

.card-container {
    border: 3px solid #e4e4e4 !important;
    padding: 40px 30px !important;
    border-radius: 7px !important;
}

.list-services {
    li {
        list-style: none;
        margin-left: -40px;
        margin-bottom: 5px;
    }
    a {
        text-decoration: none;
        color: #0e0e0e;
    }
    a:hover {
        text-decoration: none;
    }
}


.social-share-icon {
    list-style-type: none;
    margin-left: -60px;
    margin-top: 10px;
    li {
        float: left;
        margin-left: 20px;
    }
    a {
        text-decoration: none;
        color: rgb(209, 209, 209);
    }
}

.footer-menu {
    list-style-type: none;
    margin: 20px auto;
    width: 90%;
    li {
        float: left;
        margin-left: 20px;
    }
    a {
        text-decoration: none;
        color: rgb(133, 133, 133);
    }
    a:hover {
        text-decoration: none;
    }
    :after
    {
        content: '|';
        margin-left: 10px;
    }
    :last-child:after
    {
        content: '';
    }
}