<template>
    <div>
        
        <div class="video-wrapper video-wrapper-bg" v-if="openPlayer == true"></div>
        <div class="video-slider video-wrapper" v-if="openPlayer == true">
            <div class="video-container video-iframe">
                <div class="video-content">
                    <a class="closeplayer" href="javascript:void(0);" @click="closeVideo()">
                        <i class="fa fa-close"></i>
                    </a>
                    <vimeo-player :video-id='videoId' :player-height="600" :player-width="800" :autoplay='true'></vimeo-player>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
            <div class="container-fluid ml-5 mr-5">
                <a class="navbar-brand" href="#">
                    <img :src="publicPath+'images/assets/packettitle.png'" class="site-brand">
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav left mr-auto">
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                @mouseenter="hover()"
                                @mouseleave="leave()">
                                Products
                            </a>
                            <div :class="'dropdown-menu product '+fadeEffect">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <h4>PUBLIC CLOUD</h4>
                                            <p>Quickly deploy powerful, secure bare metal across seven global locations.</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <h4>ENTERPRISE FEATURES</h4>
                                            <p>Interconnected bare metal on Platform Equinix. Currently in Private Beta.</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <h4>TINKERBELL</h4>
                                            <p>A flexible bare metal provisioning and workflow engine. 100% open-source.</p>
                                        </a>
                                    </li>
                                </ul>
                                <div class="dropdown-divider"></div>
                                <p>
                                    Questions ? 
                                    <a href="#">Schedule time with an engineer</a>
                                    <span class="social-nav">
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-github"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                @mouseenter="hover()"
                                @mouseleave="leave()">
                                Solutions
                            </a>
                            <div :class="'dropdown-menu '+fadeEffect">
                                <a class="dropdown-item" href="#">
                                    <img :src="publicPath+'images/assets/google-anthos.jpeg'">
                                    Google Anthos
                                </a>
                                <a class="dropdown-item" href="#">
                                    <img :src="publicPath+'images/assets/rh-openshift.png'">
                                    Red Hat Openshift
                                </a>
                                <a class="dropdown-item" href="#">
                                    <img :src="publicPath+'images/assets/dell.png'">
                                    BMaaS on Dell EMC
                                </a>
                                <a class="dropdown-item" href="#">
                                    <img :src="publicPath+'images/assets/kubernetes.png'">
                                    Kubernetes on Bare Metal
                                </a>
                                <a class="dropdown-item" href="#">
                                    <img :src="publicPath+'images/assets/vmw.png'">
                                    VMware on Packet
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item heading" href="#">USE CASES</a>
                                <a class="dropdown-item" href="#">SaaS</a>
                                <a class="dropdown-item" href="#">Telco / NFV</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                @mouseenter="hover()"
                                @mouseleave="leave()">
                                Developers
                            </a>
                            <div :class="'dropdown-menu '+fadeEffect">
                                <a class="dropdown-item" href="#">Product Docs</a>
                                <a class="dropdown-item" href="#">API Docs</a>
                                <a class="dropdown-item" href="#">Libraries & CLI</a>
                                <a class="dropdown-item" href="#">Integrations</a>
                                <a class="dropdown-item" href="#">OS Compatibility</a>
                                <a class="dropdown-item" href="#">Licenced OS</a>
                                <a class="dropdown-item" href="#">Changelog</a>
                                <a class="dropdown-item" href="#">Roadmap</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                @mouseenter="hover()"
                                @mouseleave="leave()">
                                Resources
                            </a>
                            <div :class="'dropdown-menu '+fadeEffect">
                                <a class="dropdown-item" href="#">Technical Guides</a>
                                <a class="dropdown-item" href="#">Videos</a>
                                <a class="dropdown-item" href="#">Blog</a>
                                <a class="dropdown-item" href="#">Speedtest</a>
                                <a class="dropdown-item" href="#">Network Looking Glass</a>
                                <a class="dropdown-item" href="#">Partner Solutions</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Customers</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                @mouseenter="hover()"
                                @mouseleave="leave()">
                                Company
                            </a>
                            <div :class="'dropdown-menu '+fadeEffect">
                                <a class="dropdown-item" href="#">Our Story</a>
                                <a class="dropdown-item" href="#">Teams</a>
                                <a class="dropdown-item" href="#">Careers</a>
                                <a class="dropdown-item" href="#">Newsroom</a>
                                <a class="dropdown-item" href="#">Why Bare Metal?</a>
                                <a class="dropdown-item" href="#">Term & Policies</a>
                                <a class="dropdown-item" href="#">Contact</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav right my-2 mr-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-primary" href="#">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid px-0">
            <div class="row">
                <div class="col-md-12 main-slider">
                    <div class="col-md-4 jumbotron-text">
                        <h1>Built for Enterprises, Loved by Developers.</h1>
                        <p>Make infrastructure your competitive advantage with fully automated bare metal that can be deployed anywhere.</p>
                        <a href="#" class="btn btn-lg btn-primary">Signup & Deploy</a>
                        <a href="#" class="btn btn-lg btn-outline-primary btn-white">Schedule a Demo</a>
                    </div>
                    <slick
                        ref="slick"
                        :options="mainSliderOpt">
                        <img v-for="(v,i) in dataMainSlider" :key="i" :src="publicPath+'images/assets/'+v">
                    </slick>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <!-- center heading -->
            <div class="row mt-5">
                <div class="col-12 mt-5">
                    <h2 class="text-center center-heading">The Promise of the Cloud, Reimagined</h2>
                    <p class="text-center">How can we help drive your business?</p>
                </div>
            </div>
            <!-- feature list -->
            <div class="row mt-5">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="feature-list">
                        <ul>
                            <li>
                                <strong>Increase Performance, Minimize Cost</strong><br>
                                Take advantage of the power of automated single tenant infrastructure.
                            </li>
                            <li>
                                <strong>Programmable, Carrier Grade Network</strong><br>
                                Reach your global audience with advanced features like BGP, Anycast, Backend Transfer, and BYO IP.
                            </li>
                            <li>
                                <strong>Increase Performance, Minimize Cost</strong><br>
                                1st class providers for Terraform, Ansible, Kubernetes (CSI & CCM) & more.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <figure>
                        <img :src="publicPath+'images/assets/main1.png'" class="img-fluid main-img">
                    </figure>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <figure>
                        <img :src="publicPath+'images/assets/main2.png'" class="img-fluid main-img">
                    </figure>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="feature-list">
                        <ul>
                            <li>
                                <strong>Increase Performance, Minimize Cost</strong><br>
                                Take advantage of the power of automated single tenant infrastructure.
                            </li>
                            <li>
                                <strong>Programmable, Carrier Grade Network</strong><br>
                                Reach your global audience with advanced features like BGP, Anycast, Backend Transfer, and BYO IP.
                            </li>
                            <li>
                                <strong>Increase Performance, Minimize Cost</strong><br>
                                1st class providers for Terraform, Ansible, Kubernetes (CSI & CCM) & more.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- testimonial slider -->
        <div class="container-fluid testimonial-wrapper">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <h2 class="text-center center-heading text-white mt-5">No Need to Take Our Word For It</h2>
                    <p class="text-center text-white mb-5">We love nothing more than helping to make our clients successful.</p>
                </div>
                <div class="col-md-10 offset-md-1">
                    <slick
                        ref="slick"
                        :options="testimonialSliderOpt">
                        <div v-for="(v,i) in dataTestimonialSlider" :key="i" class="slider-container">
                            <div class="row slider-row">
                                <div class="col-md-7 desc">
                                    <img :src="publicPath+'images/assets/logo'+(i+1)+'.png'">
                                    <blockquote>
                                        <p>{{v.desc}}</p>
                                    </blockquote>
                                    <div class="author mt20">
                                        <strong>{{v.author}}</strong>, {{v.position}}
                                    </div>
                                    <a :href="v.link" class="permalink" tabindex="0"></a>
                                </div>
                                <div class="col-md-5 pic">
                                    <div v-if="v.video == true">
                                        <a href="javascript:void(0);" @click="openVideo(v.videoData.id)" class="btn btn-lg btn-secondary btn-play-video"><i class="fa fa-play"></i> Play Video</a>
                                    </div>
                                    <img :src="publicPath+'images/assets/person'+(i+1)+'.jpg'">
                                </div>
                            </div>
                        </div>
                    </slick>
               </div>
               <div class="col-md-12 text-center mt-5 mb-5">
                    <a href="" class="btn btn-lg btn-outline-primary">Meet our customer</a>
               </div>
            </div>
        </div>
        <!-- footer -->
        <div class="container mt-5">
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="card card-container">
                        <div class="row">
                            <div class="col-md-8">
                                <h3>Make Infrastructure Your Competitive Advantage</h3>
                                <p>Packet offers fully automated bare metal. Deploy globally in minutes.</p>
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-lg btn-primary text-white">Create Account</a>
                                <a class="btn btn-lg btn-outline-primary">Contact Sales</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <p>
                        Once per month product updates, and no spam. We promise!
                    </p>
                    <form class="form-inline">
                        <label class="sr-only" for="inlineFormInputName2">Email</label>
                        <input type="email" class="form-control mb-2 mr-sm-2" placeholder="Email Address">
                        <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
                    </form>
                    <ul class="social-share-icon">
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-github fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-2 col-lg-2">
                    <p>
                        <b>Public cloud</b>
                    </p>
                    <ul class="list-services">
                        <li>
                            <a href="">Bare Metal Servers</a>
                        </li>
                        <li>
                            <a href="">Our Network</a>
                        </li>
                        <li>
                            <a href="">Platform Features</a>
                        </li>
                        <li>
                            <a href="">Global Locations</a>
                        </li>
                        <li>
                            <a href="">Compare Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-2 col-lg-2">
                    <p>
                        <b>Resource</b>
                    </p>
                    <ul class="list-services">
                        <li>
                            <a href="">Technical Guides</a>
                        </li>
                        <li>
                            <a href="">Partner Solutions</a>
                        </li>
                        <li>
                            <a href="">Open Source Support</a>
                        </li>
                        <li>
                            <a href="">Github Repos</a>
                        </li>
                        <li>
                            <a href="">Meetups & Events</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-2 col-lg-2">
                    <p>
                        <b>Company</b>
                    </p>
                    <ul class="list-services">
                        <li>
                            <a href="">Our Story</a>
                        </li>
                        <li>
                            <a href="">Team</a>
                        </li>
                        <li>
                            <a href="">Blog</a>
                        </li>
                        <li>
                            <a href="">Carrers</a>
                        </li>
                        <li>
                            <a href="">Newsroom</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-2 col-lg-2">
                    <p>
                        <b>Get in Touch</b>
                    </p>
                    <ul class="list-services">
                        <li>
                            <a href="">Contact Us</a>
                        </li>
                        <li>
                            <a href="">Get Support</a>
                        </li>
                        <li>
                            <a href="">System Status</a>
                        </li>
                        <li>
                            <a href="">Community Slack</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 offset-md-2 lg-offset-2 text-center">
                    <ul class="footer-menu">
                        <li><a href="#">&copy; Packet 2020</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Term of Service</a></li>
                        <li><a href="#">Acceptable Use</a></li>
                    </ul><br>
                    <p>Some icons are designed by Flaticon</p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Slick from 'vue-slick';
import 'animate.css/animate.css';

import vueVimeoPlayer from 'vue-vimeo-player'
Vue.use(vueVimeoPlayer)
export default {
    components: {
        Slick
    },
    data() {
        return {
            testimonialSliderOpt: {
                slidesToShow: 1,
                dots: true,
            },
            mainSliderOpt: {
                slidesToShow: 1,
                infinite: true,
                fade: true,
                autoplay: true
            },
            dataTestimonialSlider: [
                {
                    desc: '"Being able to manage everything through the command line makes Packet bare metal feel like cloud software. It\'s really cool that they can spin up a physical machine in minutes. It\' s like a breath of fresh air."',
                    author: 'Lee Liu',
                    position: 'Co-founder and Chief Architect',
                    link: 'https://www.packet.com/customers/logdna/',
                    video: true,
                    videoData: {
                        id: 422494695
                    }
                },
                {
                    desc: '"Within a matter of weeks, Packet had built the location. About an hour after they had announced that they’d got it up and running, we rolled out our stack and were serving live traffic. This happened to be a Friday night. Monday, we were in Barcelona, doing live demos at the Mobile World Congress."',
                    author: 'Mikko Peltola',
                    position: 'Director of Cloud Operations, Hatch',
                    link: 'https://www.packet.com/customers/hatch/',
                    video: false
                },
                {
                    desc: '"We’re building really large Cassandra and Kubernetes clusters so we need tremendous storage and memory capabilities. The heavier the workload, the more Packet shines."',
                    author: 'Anthony Woods',
                    position: 'CTO and Co-Founder, Grafana',
                    link: 'https://www.packet.com/customers/grafana/',
                    video: false
                },
                {
                    desc: '"Packet has this unique ability to deploy customizable hardware and yet provide it to us with full automation—it literally feels like we are consuming virtual machines, not dedicated servers."',
                    author: 'Cody Hill',
                    position: 'Cloud Architect',
                    link: 'https://www.packet.com/customers/',
                    video: true,
                    videoData: {
                        id: 422495710
                    }
                },
                {
                    desc: '"Because Packet is giving us the actual bare metal machines, we still have that first layer of virtualization extensions that we can use to isolate our guest machines from one another. None of the other cloud providers provide that."',
                    author: 'Jake Moshenko',
                    position: 'Co-founder Quay',
                    link: 'https://www.packet.com/customers/quay/',
                    video: false
                },
                {
                    desc: '"Packet has faster default hardware available, but we also worked with Packet’s team to do custom hardware configurations for our database servers. We went from needing to imminently add database servers on our old provider, to having a lot of excess capacity at Packet."',
                    author: 'George Deglin',
                    position: 'Co-founder and CEO',
                    link: 'https://www.packet.com/customers/onesignal/',
                    video: false
                },
                {
                    desc: '"We are processing data, analyzing it, providing a decision and sending the answer back in less time that it takes to light up the LCD on the display telling you we did it." ',
                    author: 'Tamer Hassan',
                    position: 'CEO & Co-founder',
                    link: 'https://www.packet.com/customers/white-ops/',
                    video: false
                }
            ],
            dataMainSlider: ['front1.jpg','front2.jpg','front3.jpg'],
            fadeEffect: '',
            openPlayer: false,
            videoId: ''
        };
    },
    props : {
        publicPath: ''
    },
    methods: {
        closeVideo() {
            this.openPlayer = false;
        },
        openVideo(param) {
            this.videoId = param;
            this.openPlayer = true;
        },
        next() {
            this.$refs.slick.next();
        },
        prev() {
            this.$refs.slick.prev();
        },
        hover() {
            this.fadeEffect = 'animate__animated animate__fadeIn';
        },
        leave() {
            this.fadeEffect = '';
        }
    },
}
</script>